[Desktop Entry]
Name=Plots
Name[hu]=Ábrák
Comment=Simple graph plotting
Comment[hu]=Egyszerű ábrákrajzolás
Exec=plots
Type=Application
Icon=com.github.alexhuntley.Plots
Categories=GNOME;GTK;Science;Math;Education
