[Desktop Entry]
Name=Plots
Name[eo]=Grafikaĵoj
Name[es]=Gráfico
Name[fa]=نمودارها
Name[fr]=Plots
Name[he]=גרפים
Name[hr]=Grafikoni
Name[hu]=Ábrák
Name[it]=Grafici
Name[nl]=Plots
Name[sv]=Grafer
Name[pt_BR]=Plots
Name[uk]=Plots
Comment=Simple graph plotting
Comment[eo]=Simpla grafikaĵilo
Comment[es]=Trazado sencillo de funciones
Comment[fa]=رسم نمودار ساده
Comment[fr]=Traceur de fonction simple
Comment[he]=מייצר גרפים פשוט
Comment[hr]=Jednostavno crtanje grafikona
Comment[hu]=Egyszerű ábrákrajzolás
Comment[it]=Semplice disegnatore di grafici
Comment[nl]=Eenvoudig grafieken plotten
Comment[sv]=Enkel grafritning
Comment[pt_BR]=Simples traçador de gráficos
Comment[uk]=Простий побудовник графіків
Exec=env GDK_DEBUG=gl-prefer-gl,gl-no-fractional GSK_RENDERER=gl plots
Type=Application
Icon=com.github.alexhuntley.Plots
Categories=GNOME;GTK;Science;Math;Education
